.avatar_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: s;
}

.avatar_img {
    height: 25%;
    object-fit: contain;
    width: 25%;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    margin: 0 0 0 10px;
}

.avatar_link {
    color: var(--secondary-color);
    text-decoration: none;
}